body
{
	background: -moz-radial-gradient(red 5%, gray 15%, black 60%);   
	background: -webkit-radial-gradient(red 5%, gray 15%, black 60%);
	background: -ms-radial-gradient(red 5%, gray 15%, black 60%);
}
h1
{
	text-align:center;
	color:white;
	font-size:70px
}
#white
{
	color: white;
}
.arial
{
	text-align:center;
	font-family: arial;
}
.table
{
	align=center;
	margin: 0px auto;
}
.center
{
	text-align:center;
}
#red
{
	color: red;
}
